body{
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #FFC72C;
}

#cabecalho .nav .nav-link.active{
    background-color: #F2A900;
    color: #DA291C;
}

#cabecalho .nav .nav-link, .navbar-brand, .navbar-brand:hover, .nav-cardapio .nav-link.active:hover{
    color: #fff;
    
}

.navbar-brand{
    font-family: Pacifico, cursive;
}

.navbar-toggler {
    background-color: #DA291C;
}

.section-title {
        font-family: Pacifico, cursive;
}


#sobre-o-restaurante, #cardapio {
    background-color: #F2A900;
}

.text-colored{
    color: #DA291C;
}

.nav-cardapio .nav-link.active, #fale-conosco button {
    background-color: #DA291C;
    color: #fff;
}
.nav-cardapio .nav-link:hover {
    color: #DA291C;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}